
# Created by https://www.toptal.com/developers/gitignore/api/visualstudiocode,ansible
# Edit at https://www.toptal.com/developers/gitignore?templates=visualstudiocode,ansible

### Ansible ###
*.retry
roles/ansible_collections
roles/*/.travis.yml
roles/*/README.md
.vault_pass

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide

# Support for Project snippet scope
!.vscode/*.code-snippets

# End of https://www.toptal.com/developers/gitignore/api/visualstudiocode,ansible
